@font-face {
  font-family: "seven_segmentregular";
  src: url("./seven_segment.woff2") format("woff2"), url("./seven_segment.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  list-style-type: none;
}

.calc {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 900px;
}
.calc__container {
  background-color: grey;
  border-radius: 5px;
}
.calc__screen {
  background-color: white;
  margin: 10px 10px 5px 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 60px;
}
.calc__container2 {
  display: flex;
  flex-direction: column;
}
.calc__keys {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 5px 0px 5px;
}
.calc__button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  background-color: green;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  box-shadow: inset 0 0 0 7px rgba(255, 255, 255, 0.5);
  margin: 2px;
}
.calc__button:hover {
  cursor: pointer;
}

#calc__screen__readout {
  margin-right: 10px;
  font-size: 40px;
  font-family: seven_segmentregular;
}
#calc__screen__prev {
  margin: 1px 10px 0px 0px;
  /* N E S W */
  font-size: 20px;
  font-family: seven_segmentregular;
}

#clear {
  background-color: red;
  border-radius: 5px;
  padding: 10px;
  margin: 5px 10px;
  box-shadow: inset 0 0 0 7px rgba(255, 255, 255, 0.5);
}

.stupid-font-awesome {
  font-weight: 900;
  font-size: 30px;
  font-family: seven_segmentregular;
}
