* {
  list-style-type: none;
}

.calc {
  display: flex;
  justify-content: center;
}
.calc__container {
  border: 1px solid red;
  width: 400px;
  height: 600px;
}
.calc__screen {
  border: 1px solid aqua;
  padding: 20px;
}
.calc__container2 {
  display: flex;
  flex-direction: column;
}
.calc__keys {
  display: flex;
  justify-content: space-around;
  border: 1px solid yellow;
}
.calc__button:hover {
  cursor: pointer;
}

.stupid-font-awesome {
  font-weight: 900;
  font-size: 30px;
}
